.inner-footer{
    background: $color-white;
    max-width: 180rem;
    position: relative;

    @include mobile{
        display: none;
    }

    &__content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        padding: 0 10rem;
        max-width: 80rem;

        @include laptop{
            top: 55%;
            padding: 0 5rem;
        }

        @include mobile{
            top: 60%;
        }

        h2{
            font-size: 6.4rem;
            color: $color-white;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
            letter-spacing: -2px;

            @include tablet{
                font-size: 4.4rem;
            }

            @include mobile{
                font-size: 3.4rem;
            }
        }

        p{
            color: $color-white;
            font-size: 16px;
        }

        a{
            @include equal_round(4rem, 50%);
            margin-right: 1rem;
            background: #F5711E;
            color: #F8A93F;
            margin-top: 5rem;

            @include laptop{
                margin-top: 2rem;
            }

            @include mobile{
                margin-top: 0rem;
            }

            &:hover{
                background: $color-white;
                color:#F5711E ;
            }
        }

    }
}